# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.TowerBuildings.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projekty\TowerBuildings\.idea\.idea.TowerBuildings\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
